<div class="wrapper">
  <div class="top-label">
    <div>Hard {{ hardSettings.hard.prefix }}</div>
    <div class="button" (click)="remove($event)">-</div>
    <div class="amount">x{{ hardSettings.amount }}</div>
    <div class="button" (click)="add($event)">+</div>
  </div>

  <div class="wrapper-inner">
    <div>
      <div class="drops">
        <img [ngClass]="{ 'img-disabled': hardSettings.amount === 0 }" class="character-img" src="{{ getCharacter(hardSettings.hard.piece).getImageUrl() }}">
        <div class="amount-outer"><div class="amount-inner">
          <div class="amount-small">x{{ hardSettings.getDropAmount(0) }}</div>
        </div></div>
        <div *ngFor="let drop of hardSettings.hard.drops.slice(0, 3)" class="drops">
          <img [ngClass]="{ 'img-disabled': hardSettings.amount === 0 }" class="equipment-img" src="{{ getEquipment(drop).getImageUrl() }}">
         <div class="amount-outer"><div class="amount-inner">
        <div class="amount-small">x{{ hardSettings.getDropAmount(0) }}</div>
        </div></div>
        </div>
     </div>
    </div>
  </div>
</div>
